@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Calistoga');

body {
  padding: 0;
  margin: 0;
  font-family: 'Calistoga' Regular;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}