.headerContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 12px 100px;
    font-family: 'Bangers';
    font-size: 22px;
    color: #F2AA4C;
}

.navItems {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.item {
    padding: 4px 20px;
    margin: 2px 20px ;
    font-family: 'Bangers';
    font-size: 24px;
    color: #F2AA4C;
    background-color: white;
    border: none;
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

/* .modalContainer {
    margin: 40px;
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 300px;
    max-width: 400px;
    position: absolute;
    border-radius: 4px;
} */

.input {
    outline:none;
    margin: 20px;
    height: 40px;
    width: 80%;
    font-family: 'Bangers';
    color: #F2AA4C;
    border: none;
    border-bottom: 1px solid black;
}

.closeModalButton {
    align-self: flex-end;
    padding: 12px 17px;
    border-radius: 50%;
    background-color: #36393B;
    color:#F2AA4C;
    font-family: 'Bangers';
    border: none;
}

.modalTitle {
    text-align: center;
    font-family: 'Bangers';
    color: black;
    font-weight: normal;
}

.modalButton {
    margin: 20px;
    font-family: 'Bangers';
    height: 40px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #F2AA4C;
    color: white;
}

.error {
    color: red;
    font-family: 'Calistoga';
    font-size: 14px;
}

.headerLogo:hover{
    cursor: pointer;
}