.main {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36393B;
    padding-top: 2%; 
}

.title {
    font-family: 'Bangers';
    font-size: 40px;
    color: #F2AA4C;
    font-weight: lighter;
}

.homeContent {
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90%;
    padding: 0 20px;
    border-bottom: white;
    height: 65vh;
}



.infoGamesContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    height: 100%; 
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #36393B;
    padding-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: white; 
}

.contentTitle {
    font-family: 'Bangers';
    color: #F2AA4C;
    font-size: 30px;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px;
}

.contentItem {
    color: white;
    font-family: 'Bangers';
    font-weight: lighter;
    font-size: 20px;
    position: relative;
    left: 20%;
    
}

.contentItem1 {
    color: white;
    font-family: 'Bangers';
    font-weight: lighter;
    font-size: 20px;
    position: relative;
    left: 20%;
    top: 55%
}

.contentButton {
    background-color: #F2AA4C;
    font-family: 'Bangers';
    color: white;
    border-radius: 2px;
    border: none;
    padding: 10px 20px;
    align-self: flex-end;
    margin-right: 20px;
    font-weight: lighter;
    height: 15%;
    font-size: 15px;
}

.inventoryContainer {
    display: flex;
    flex-direction: column;
    background-color: #36393B;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


#infoBox {
    margin-right: 20px;
}


#gameBox {
    margin-left: 10px;
    border-bottom: white;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgb(251, 251, 251);
    margin: 15px 0px 15px 0px
}